.flag-AUT {
    background-image: url('./flags/AUT.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.flag-ESP {
    background-image: url('./flags/ESP.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.flag-EU {
    background-image: url('./flags/EU.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.flag-FRA {
    background-image: url('./flags/FRA.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.flag-GBR {
    background-image: url('./flags/GBR.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.flag-GER {
    background-image: url('./flags/GER.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.flag-GRE {
    background-image: url('./flags/GRE.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-IRL {
    background-image: url('./flags/IRL.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-ISL {
    background-image: url('./flags/ISL.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-ITA {
    background-image: url('./flags/ITA.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-LUX {
    background-image: url('./flags/LUX.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-NED {
    background-image: url('./flags/NED.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-POR {
    background-image: url('./flags/POR.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-RUS {
    background-image: url('./flags/RUS.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-SKA {
    background-image: url('./flags/SKA.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


.flag-SUI {
    background-image: url('./flags/SUI.png');
    width: 45px;
    height: 45px;
    margin-top: -3px;
    margin-left: -3px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}


